table
{
    border: 3px solid black;
}
td 
{
border: 1px solid black;
}
.bdy
{
background-color: #F5F6F7;
}
.searchbutton
{
    height: 30px;
}
thead
{
  background: #2C6EB0;
  


}
.tbl
{   
    overflow: hidden;
 
  width: 100vw;
  left: 0;
  position: sticky;
}    
    
}
tr:hover 
{
    background-color: whitesmoke;
}
.bdy:hover
{
    cursor:pointer;
    color: white;
    background-color: #59BDDE;

    
  
  
   

    
}

label {
overflow: hidden;
left: 0;
  position: sticky;
font-family: 'Heebo', sans-serif;
font-size: 1.2rem;
font-weight: 500;
letter-spacing: 0.025rem;
font-style: normal;
text-transform: uppercase;
color: #FFFFFF;
background-color: #3a88fe;
border-radius: 0rem;
-webkit-border-radius: 0rem;
-moz-border-radius: 0rem;
padding: 0.5625rem 1rem;
border-style: none;
border-width: 0rem;
border-color: #EF2D56;
-webkit-box-shadow: inset 210px -8px 0px -16px rgba(51,51,51,1);
-moz-box-shadow: inset 210px -8px 0px -16px rgba(51,51,51,1);
-box-shadow: inset 210px -8px 0px -16px rgba(51,51,51,1);
 
}
/*NAV BAR CSS*/
* {
    box-sizing: border-box;
}
body {
   
    width: 1700px;
    
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;

}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
    color: #34495e;
}

a {
    text-decoration: none;
}



.logo {
    margin: 0;
    font-size: 1.45em;
}

.main-nav {
    margin-top: 5px;

}
.logo a,
.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.main-nav a {
    color: #fff;
    font-size: .99em;
}

.main-nav a:hover {
    color: #1C2833;
}

.button
{

  
  
 
  
  
  
  display: inline-block;
 
  
  cursor: pointer;
  margin-left: 300px;
  


}
.button:hover {
  background-color: #555555;
  color: white;
}
input {
    line-height: 15px;
    font-size: 14px;
    border-radius: 1px;

}

.header {
    
   
    margin-left: 0!important;
    margin-right: 0!important;
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #a2a2a2;
    background-color: #f4f4f4;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: rgb(23,90,167);
    background: linear-gradient(95deg, rgba(23,90,167,1) 28%, rgba(15,132,175,1) 100%);
    overflow: hidden;
 
  width: 100vw;
  left: 0;
  position: sticky;

}

.search1{
  width: 150px;
  background: #fff;
  border-radius: 2px;
  height: 35px;
  
  padding: 10px;
  box-shadow: 0 8px 6px -10px #b3c6ff;

}
.search2{
  width: 200px;
  background: #fff;
  border-radius: 2px;
  height: 35px;
   margin-right: 10px;
  padding: 10px;
  box-shadow: 0 8px 6px -10px #b3c6ff;
}
.search3{
  width: 350px;
  background: #fff;
  border-radius: 2px;
  height: 40px;
   margin-right: 10px;
  padding: 10px;
  box-shadow: 0 8px 6px -10px #b3c6ff;
}
/* 
  Media Queries
*/




@media (min-width: 769px) {
    .header,
    .main-nav {
        display: flex;
    }
    .header {
        flex-direction: column;
        align-items: center;
        margin-right: 0;

        
    }

}

@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }

}





