thead
{
  background: #808B96;
  font-family: Georgia, serif;

}
table
{
    border: 3px solid black;
    border-collapse: col;
    
}

td
{
    border: 1px solid black;
    
}
input[type=text],input[type=number],input[type=date]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=number]:focus ,input[type=date]:focus{
  background-color: #ddd;
  outline: none;
}
.button
{
    margin-top: 5px;
    margin-right:10px;
    height: 45.5px;
    border: none;
}
h1
{
  color: white ;

}
h2
{
    margin-top: 150px;
}
#ftr
{
    border-bottom-style: inset;
  
    border-bottom-color:#175aa7;
   
  border-bottom-width: 5px;
}
	
    
    
    .button9 {
		overflow: visible;
        position: relative;
        margin-left: 45%;

        text-align: center;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 40px;
        width: 100px;
        font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
        color: #fff;
        text-transform: uppercase;
        background: #d83c3c;
        -moz-border-radius: 0 3px 3px 0;
        -webkit-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;      
        text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
        width: 15%;


    }   
      
    .button9:hover{		
        box-shadow:0px 10px 10px rgba(0,0,0,0.2);
   transform : translateY(-3px);
    }	
      
    
    

/*nav bar css*/

* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;

}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
    color: #34495e;
}

a {
    text-decoration: none;
}



.logo {
    margin: 0;
    font-size: 1.45em;
}

.main-nav {
    margin-top: 5px;

}
.logo a,
.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.main-nav a {
    color: #fff;
    font-size: .99em;
}

.main-nav a:hover {
    color: #1C2833;
}



.header {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #a2a2a2;
    background-color: #f4f4f4;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: rgb(23,90,167);
    background: linear-gradient(95deg, rgba(23,90,167,1) 28%, rgba(15,132,175,1) 100%);
    overflow: hidden;
 
  width: 100vw;
  left: 0;
  position: sticky;

}


/* 
  Media Queries
*/




@media (min-width: 769px) {
    .header,
    .main-nav {
        display: flex;
    }
    .header {
        flex-direction: column;
        align-items: center;
        .header{
        width: 80%;
        margin: 0 auto;
        max-width: 1150px;
    }
    }

}

@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }

}






